.row.btn-busqueda-menu
  span.col-xs-6(ui-sref='busqueda_notas' ui-sref-active="btn-busqueda-menu-selected")
    | Notas
  span.col-xs-6(ui-sref='busqueda_empresas' ui-sref-active="btn-busqueda-menu-selected")
    | Empresas
.busquedaContainer(ui-view='' ng-hide="_.empty(news.posts)")

.spinner-buscar(ng-show="buscando")
  .cargando
    img(src="/assets/images/loader.gif")
    |Buscando
