.busquedaContainer
  font-family: "HelveticaNeueRm",Arial,sans-serif
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle
  color: #0a95d6
  label
    font-weight: normal

  .botonBusqueda
    display: block
    font-size: 15px;
    line-height: 15px;
    margin: 35px auto;
    padding: 17px 40px;
    background-color: #0a95d6;
    border-radius: 5px;
    color: #fff;
    font-family: "HelveticaNeueBd",Arial,sans-serif;
    border: 0 none

.btn-busqueda-menu
  margin: 0
  span
    font-family: 'HelveticaNeueBd', Arial, sans-serif
    font-size: 16px
    line-height: 60px
    background-color: #F1F2F4
    text-align: center
    color: #A7A8AA
    cursor: pointer

  .btn-busqueda-menu-selected
    background-color: #A6A6A6
    color: #FFFFFF


.spinner-buscar
  width: 150px;
  height: 150px;
  color: #FFF;
  background-color: #000000;
  text-align:center;
  display: table;
  border-radius: 10px;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;   /* height/2 = 150px / 2 */
  margin-left: -75px;  /* width/2 = 150px / 2 */
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight:bold;

  .cargando
    vertical-align: middle
    display: table-cell
    img
      display: block
      width: initial
      margin: auto
      margin-bottom: 1em
