.alphabetCombo.col-xs-12
  label Búsqueda Alfabética
  .dropdown
    a.dropdown-toggle(href="#", data-toggle="dropdown")
      span.letter {{letraActual || '#'}}
      i.glyphicon.glyphicon-chevron-down

    ul.dropdown-menu
      li(ng-repeat="character in alphabet")
        a(ui-sref="proveedores({letra: character})")
          |{{character}}

