.busquedaEmpresas
  margin: 0 3%
  padding-top 40px
  .checkboxStack
    padding-top 20px
    padding-bottom 20px

    .checkboxStackLabel
      width 17%
      display inline-block
      vertical-align top

    .checkboxStackCheckboxes
      width 80%
      display inline-block

      input[type="checkbox"]
        height: 20px
        width: 20px
        display: inline-block
        vertical-align: middle
        margin 4px

  .busquedaEmpresasInput
    padding-bottom 10px
    label
      width: 35%
      vertical-align middle
      display: inline-block
    input[type="text"]
      padding: 0 0 0 10px
      border: 1px solid #27a1db
      color: #666666
      font-family: Helvetica,Arial,sans-serif
      font-size: 18px
      line-height: 22px
      width: 55%
