.busquedaEmpresas
  |BÚSQUEDA AVANZADA - EMPRESAS
  .checkboxStack
    .checkboxStackLabel
      |TIPO
    .checkboxStackCheckboxes
      label
        input(type="checkbox" ng-model="filtroBusqueda.buscarEmpresas")
        |ESTABLECIMIENTOS GRÁFICOS
      label
        input(type="checkbox" ng-model="filtroBusqueda.buscarProveedores")
        |PROVEEDORES

  .busquedaEmpresasInput
    label
      |RAZÓN SOCIAL
    input(type="text" required ng-model="filtroBusqueda.razon")
  .busquedaEmpresasInput
    label
      |RUBRO
    input(type="text")
  .busquedaEmpresasInput
    label
      |PROVINCIA
    input(type="text")
  .busquedaEmpresasInput
    label
      |PALABRA CLAVE
    input(type="text")

  input.botonBusqueda(type="button" value="Buscar" ng-click="buscarEmpresas()")

.resultadoEmpresas(ng-hide="_.isEmpty(empresas)")
  ul
    li(ng-repeat="empresa in empresas")
      .boxEmpresas
        h2.titulo {{empresa.Empresa}}
        p
          | Domicilio: {{empresa.Domicilio}}
          br
          | Teléfono: {{empresa.Telefono}}
          br
          | Fax: {{empresa.Fax}}
          br
          | Email: {{empresa.Email}}
          br
          | Web: {{empresa.Web}}
          br
          | Rubro: {{empresa.Detalle_Rubro}}
