@charset "UTF-8"
.asesCuadro
  .asesTexto
    padding 0 15px
  ul
    padding 0
    &.asesLista
      li
        .asesItem
          background-color: #888888;
          border-top: 2px solid #fff;
          text-align: left;
          font-family: 'HelveticaNeueBd', Arial, sans-serif;
          font-size: 18px;
          line-height: 22px;
          display: block;
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          a
            padding: 20px 20px 20px 50px
            color: #fff
            display: block
          img
            width initial;
            margin-left: -34px;
            margin-right: 10px;
        .asesDesc
          display: none;
          padding-bottom: 15px;
          padding-left: 45px;
          font-family: 'HelveticaNeueLt', Arial, sans-serif;
          font-size: 14px;
          line-height: 18px;
          color: #fff;
          background-color: #888888;
          b
            font-family: 'HelveticaNeueBd', Arial, sans-serif;
          a
            font-family: 'HelveticaNeueLt', Arial, sans-serif;
            font-size: 14px;
            line-height: 18px;
            color: #39c1ff;
            display: inline-block;
            padding: 0;
