body-background = white

#main-container
  padding: 0 0 0 0
  background-color body-background
  height 100%

.snap-content-class
  background-color body-background
  -webkit-overflow-scrolling: auto

.main-container-body
  background-color body-background
  img
    width:100%

header-height = 60px
header-color = #0A95D6

.header-title
  line-height header-height
  padding-left: 20px
  display: table
  margin: 0 auto
  font-size: 22px
  font-weight: bold
  color: white

.main-container-header
  height header-height
  background-color header-color
  width 100%
  i
    line-height header-height
    color white
    cursor pointer

.main-container-icon
  width 100%
  img
    display:block;
    height header-height
    padding 4px
    width auto
    margin auto

.menu-header
  width auto
  img
    padding: 30px 0px
    margin: auto
    display: block

.busqueda-icon
  display table-cell
