.main-container-header.col-md-12
  i.fa.fa-bars.fa-3x.pull-left(snap-toggle='left', ng-hide="$state.current.canGoBack")

  i.fa.fa-chevron-left.fa-3x.pull-left(
    ng-show="$state.current.canGoBack",
    ng-click="goBack()")

  i.fa.fa-search.fa-2x.pull-right(ui-sref="busqueda_notas")

  span.header-title(ng-hide='title == "Home"') {{title}}

  .main-container-icon
    img(ng-show='!title || title == "Home"', src='/assets/images/logo_faiga.png')


.main-container-body(ui-view='')
