.menu-header
  a(ui-sref="home")
    img(src='/assets/images/logo_faiga.png')

ul(id="menu-items")
  li
    a(ui-sref='novedades', ui-sref-active='active')
      .fila.novedades
        div(style='vertical-align:middle;') Novedades
  li
    a(ui-sref='eventos', ui-sref-active='active')
      .fila.eventosReuniones
        div(style='vertical-align:middle;') Eventos y Reuniones
  li
    a(ui-sref='acuerdos', ui-sref-active='active')
      .fila.acuerdosSalariales
        div(style='vertical-align:middle;') Acuerdos salariales
  li
    a(ui-sref='licitaciones', ui-sref-active='active')
      .fila.licitaciones
        div(style='vertical-align:middle;') Licitaciones
  li
    a(ui-sref='ugar_novedades', ui-sref-active='active')
      .fila.ugar
        div(style='vertical-align:middle;') UGAR
  li
    a(ui-sref='asesorias', ui-sref-active='active')
      .fila.asesorias
        div(style='vertical-align:middle;') Asesorias
  li
    a(ui-sref='aporte_empresarial', ui-sref-active='active')
      .fila.aporteEmpresarial
        div(style='vertical-align:middle;') Aporte empresarial
  li
    a(ui-sref='establecimientos', ui-sref-active='active')
      .fila.empresasGeoLocation
        div(style='vertical-align:middle;') Empresas
  li
    a(ui-sref='videos', ui-sref-active='active')
      .fila.videos
        div(style='vertical-align:middle;') Videos
  li
    a(ui-sref='contacto', ui-sref-active='active')
      .fila.contacto
        div(style='vertical-align:middle;') Contacto
