@import "font-awesome/css/font-awesome.css"
@import "bootstrap/dist/css/bootstrap.css"

//
// Bootstrap Fonts
//

@font-face
    font-family: 'Glyphicons Halflings'
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

@font-face {
  font-family: 'HelveticaNeueLt';
  src: url('/assets/fonts/HelveticaNeueLt.eot');
  src: url('/assets/fonts/HelveticaNeueLt.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueLt.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueLt.ttf') format('truetype'),
  url('/assets/fonts/HelveticaNeueLt.svg#HelveticaNeueLt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueBd';
  src: url('/assets/fonts/HelveticaNeueBd.eot');
  src: url('/assets/fonts/HelveticaNeueBd.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueBd.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueBd.ttf') format('truetype'),
  url('/assets/fonts/HelveticaNeueBd.svg#HelveticaNeueBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueRg';
  src: url('/assets/fonts/HelveticaNeueRg.eot');
  src: url('/assets/fonts/HelveticaNeueRg.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueRg.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueRg.ttf') format('truetype'),
  url('/assets/fonts/HelveticaNeueRg.svg#HelveticaNeueRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLtStdCn';
  src: url('/assets/fonts/HelveticaNeueLTStdCn.eot');
  src: url('/assets/fonts/HelveticaNeueLTStdCn.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/HelveticaNeueLTStdCn.woff') format('woff'),
  url('/assets/fonts/HelveticaNeueLTStdCn.ttf') format('truetype'),
  url('/assets/fonts/HelveticaNeueLTStdCn.svg#HelveticaNeueLtStdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

//
// App-wide Styles
//

.browsehappy
    background #ccc
    color #000
    margin 0.2em 0
    padding 0.2em 0

// Component styles are injected through grunt
// injector
@import 'aporte_empresarial/aporte_empresarial.styl';
@import 'asesorias/asesorias.styl';
@import 'busqueda/busqueda.styl';
@import 'busqueda/busqueda_empresas/busqueda_empresas.styl';
@import 'busqueda/busqueda_notas/busqueda_notas.styl';
@import 'contacto/contacto.styl';
@import 'empresas/empresas.styl';
@import 'main/main.styl';
@import 'main_layout/header.styl';
@import 'post_detail/post_detail.styl';
@import 'posts/posts.styl';
@import 'ugar/ugar.styl';
@import 'ugar/ugar_regiones/ugar_regiones.styl';
@import 'modal/modal.styl';
// endinjector
