@charset "UTF-8"

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

ul li
  list-style: none
  padding 0 0 0 0

menu-item-height = 60px
menu-item-color-width = 15px
menu-item-bg-color = #354044

snap-drawers
  background-color menu-item-bg-color

setBorderLeft(ancho, colour)
  border-left: ancho solid colour

setLineSeparator(ancho, colour)
  border-bottom: ancho solid colour

getSectionsWith(borderFunction, tam)
  .novedades
    borderFunction(tam, #E14747)
  .eventosReuniones
    borderFunction(tam, #F0876A)
  .acuerdosSalariales
    borderFunction(tam, #26C8BB)
  .licitaciones
    borderFunction(tam, #3683B9)
  .ugar
    borderFunction(tam, #2A599F)
  .asesorias
    borderFunction(tam, #20318D)
  .aporteEmpresarial
    borderFunction(tam, #544BA8)
  .empresasGeoLocation
    borderFunction(tam, #8A5FB1)
  .videos
    borderFunction(tam, #B68AAE)
  .contacto
    borderFunction(tam, #D55E71)
  .busqueda
    borderFunction(tam, #A6A6A6)

#menu-container
  background-color menu-item-bg-color
  height 100%

#menu-items
  padding: 0 0 0 0
  background-color white
  li
    width: 100%
    min-height: menu-item-height
    border-top: 1px solid #fff
    background-color: menu-item-bg-color
    color: #fff
    font-size: 21px
    font-family: 'HelveticaNeueLt', Helvetica, sans-serif


    :active
      background-color: #272F32

    a
      display: inline-block
      width: 100%
      height: 100%
      text-decoration: none
      color: #fff
      background-image: url(/assets/images/arrow.png)
      background-position: 95%
      background-repeat: no-repeat

    a.active
      .fila
        border-left-width: 30px


    .fila
      height: menu-item-height
      display: inline-block
      line-height: menu-item-height
      padding-left: 15px



    getSectionsWith(setBorderLeft, menu-item-color-width)

.section-separator
  getSectionsWith(setLineSeparator, 8px)

  img
    position: relative

  .featured-title
    position absolute
      top: 200px
      left: 0
      width: 100%

#layerPopupIos
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.5)
  position: fixed
  z-index: 10000000
  top: 0px
  display: none

#layerPopupAndroid
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.5)
  position: fixed
  z-index: 10000000
  top: 0px
  display: none

.popupMensajeDisp
  margin: 5%
  position:fixed
  bottom:0px
  background-color:#fff
  width:90%
  border-radius:10px

  .popupAjust
    padding:15px 20px

    .boxIconClose
      text-align: right

      img
        width: 100%
        max-width: 20px

    .boxIconLogo
      text-align: center

      img
        width: 100%
        max-width: 40%

    .boxTitle
      border-bottom:1px solid #999999
      padding:15px 0px

      h2
        font-family: Arial, sans-serif
        font-size:26px
        line-height:30px
        color: #0795D7
        text-align:center
        font-weight:bold

    .boxPasos
      padding:10px 0px

      p
        font-family: Arial, sans-serif
        font-size:17px
        line-height:25px
        color: #999999
        text-align:center

        img
          &.iconTab
            vertical-align: bottom
            width: 100%
            max-width: 24px
          &.iconMore
            vertical-align:middle
            width:100%
            max-width:12%
