.post-detail-tag
  font-family: Helvetica, Arial, sans-serif
  font-size: 12px;
  line-height: 16px
  color: #999999
  padding-bottom: 15px
  text-transform: uppercase

.post-detail-title
  font-size: 23px
  line-height: 27px
  color: #0a95d6
  padding-bottom: 10px
  font-weight: bolder
  letter-spacing: 0

.post-detail-body
  font-size: 16px
  line-height: 20px
  color: #313131
  img
    width: initial
    max-width: 100%

.post-detail-container
  padding 20px 15px
  background-color white

.post-detail-summary
  font-family: 'HelveticaNeueLt', Helvetica, sans-serif
  font-weight: lighter
  font-size: 18px
  line-height: 22px
  color: #747474
  font-style: italic
  padding-bottom: 15px
