.post-detail-container
  .post-detail-tag
    span(ng-hide='!post.NewsSubSection') {{post.DateCreated | DateFormatter}} | {{post.NewsSubSection}}
    span(ng-hide='post.NewsSubSection') {{post.DateCreated | DateFormatter}} | {{post.NewsSection}}

  .post-detail-title {{post.Title}}
  .post-detail-summary {{post.Summary}}
  .post-detail-body(ng-bind-html='post.Body')

  //carousel(interval='5000')
  //  slide(ng-repeat="slide in post.resources" active="slide.active")
  //    img(ng-src="{{slide.FULLURI}}" style="margin:auto;")
