.section-header
  padding 0 0 0 0
  line-height: 0
  img
    width: 100%
    height: auto
    margin: 0
    padding: 0
    border: 0
    outline: 0
    font-weight: inherit
    font-style: inherit
    font-size: 100%
    font-family: inherit
    vertical-align: baseline

#posts-list
  padding 0 0 0 0
  li
    display: inline-block
    width: 100%
    border-bottom: 1px solid #A1A1A1

    a
      padding-top: 10px
      padding-bottom: 15px
      text-decoration: none
      display: block

doElipsis(linesToShow, lineHeight)
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: linesToShow; /* number of lines to show */
  max-height: linesToShow*lineHeight    /* fallback */

.featured-title
  position: absolute
  padding 10px
  margin-bottom 8px
  bottom: 0
  line-height: normal
  font-size: 24px
  color: #fff
  background-color:rgba(0,0,0,0.3)
  font-family: 'HelveticaNeueLtStdCn', Helvetica, sans-serif

  doElipsis(24px, 6)


.post-title
  width: 72%
  font-family: 'HelveticaNeueBd', Arial, sans-serif
  font-size: 18px
  line-height: 22px
  color: #0a95d6
  display: inline-block
  vertical-align: top
  padding-right: 3%
  margin-right: -4px
  font-weight: bolder
  letter-spacing: -1px

.long-title
  width: 100%

.post-tag
  font-size: 12px
  padding-bottom: 7px
  color: #999999
  text-transform: uppercase

.post-image
  display: inline-block
  vertical-align: top
  text-align: right
  width: 29%
  margin-right: -4px

  img
    width: 100%
    height: auto

.btn-ver-mas
  width: 100%
  margin: auto
  display: block
  background-color: #0a95d6
  border-color: #0a95d6
  font-size: 22px
  line-height: 50px
  color: #fff

.btn_large
  background-color: #008bb9
  border-radius: 5px
  border: 10px solid #008bb9
  display: inline-block
  color: #fff
  font-family: Arial
  font-size: 14px
  font-weight: bold
  font-style: normal
  height: auto
  width: 100%
  line-height: 22px
  text-decoration: none
  text-align: center
  padding-left: 11px
  padding-right: 11px

  img
    width:initial
