.col-md-12.section-header.section-separator
  div(ng-hide='!featured || section.image')
    a(ui-sref='post_detail({id:featured.Id_NewsExtended})')
      img(ng-src='{{featured.featuredResource.FULLURI}}', ng-class='section.style')
      .featured-title {{featured.Title}}
  div(ng-hide='featured || section.image', ng-class='section.style')

  div(ng-hide='!section.image')
    img(ng-src='{{section.image}}', ng-class='section.style')

div(ui-view='')

.col-md-12
  ul(id='posts-list')
    li(ng-repeat='post in news.posts')
      a(ui-sref='post_detail({id:post.Id_NewsExtended})')
        .post-tag {{post.DateCreated | DateFormatter}} | {{post.NewsSubSection}}
        .post-title(ng-class='{"long-title": !post.featuredResource}') {{post.Title}}
        .post-image(ng-show="post.featuredResource")
          img(ng-src='{{post.featuredResource.FULLURI}}')
    li(ng-show="news.showMoreButton")
      button.btn-ver-mas.btn.btn-default(type="button", ng-click="nextPage()") Ver Más

