.row.btn-ugar-menu
  a.col-xs-6(ui-sref='ugar_novedades' ui-sref-active="btn-ugar-menu-selected")
    | Novedades
  a.col-xs-6(ui-sref='ugar_regiones' ui-sref-active="btn-ugar-menu-selected")
    | Regiones
div(ui-view='')
