.btn-ugar-menu
  margin: 0
  a
    font-family: 'HelveticaNeueBd', Arial, sans-serif
    font-size: 20px
    line-height: 60px
    background-color: #F1F2F4
    text-align: center
    color: #A7A8AA

  .btn-ugar-menu-selected
    background-color: #2958A0
    color: #FFFFFF


