.ugar-regiones .lrLista
  padding-left: 0
  text-align: center
  li
    background-color: #086996;
    border-bottom: 2px solid #fff

.ugarRegItem
  background-color: #0a95d6
  min-height: 60px
  text-align: center
  &:hover
    background-color: #086996
  a
    font-size: 26px
    line-height: 60px
    color: #fff
    cursor: pointer
    display: block
    font-family: "HelveticaNeueBd",Arial,sans-serif
    text-decoration: none
  &.ugarRegItemSelected
    background-color: #086996

.ugarRegDesc
  display: none
  padding-bottom: 35px
  p
    font-size: 16px
    line-height: 20px
    color: #fff;
    font-family: "HelveticaNeueLt",Arial,sans-serif;
    a
      color: #39c1ff
    b
      font-family: "HelveticaNeueBd",Arial,sans-serif;
