.aporte-empresarial-container
  div.sub-aporte-empresarial(ui-view='')

  div(ng-hide="$state.current.canGoBack")
    .row
      button(type="button" class="btn btn-default" ui-sref="aporte_sfgb") Capital y GBA - SFGB

    .row
      button(type="button" class="btn btn-default" ui-sref="aporte_fatida") Interior del país - FATIDA
