.aporte-empresarial-container
  .row
    margin-top 15px
    button
      width 75%
      margin auto
      display block
      background-color #0A95D6
      border-color #0A95D6

      font-family: Helvetica, sans-serif
      font-size: 22px
      line-height: 50px
      color: #fff

  .sub-aporte-empresarial
    padding: 20px 15px
