div(id="contacto")
  .boxForm(ng-hide="enviado")
    form(ng-submit='submitContacto()')
      .datosOblig (*) Datos Obligatorios
      div
        label NOMBRE: *
        input(type='text', required ng-model="modelo.contacto.first_name" pattern=".*[^\\d]+.*")
      div
        label APELLIDO: *
        input(type='text', required ng-model="modelo.contacto.last_name" pattern=".*[^\\d]+.*")
      div
        label TELÉFONO: *
        input(type='text', required ng-model="modelo.contacto.phone")
      div
        label EMAIL: *
        input(type='email', required ng-model="modelo.contacto.email")
      div
        label EMPRESA: *
        input(type='text', required ng-model="modelo.contacto.company" pattern=".*[^\\d]+.*")
      div
        label PAÍS: *
        select(ng-options="pais for pais in paises" required ng-model="modelo.contacto.country")
          option(value="")
      div(ng-show="modelo.contacto.country == 'Argentina'")
        label PROVINCIA: *
          span SOLO ARGENTINA
        select(ng-options="provincia for provincia in provincias" ng-model="modelo.contacto.province")
          option(value="")
      div
        label MENSAJE: *
        textarea(required ng-model="modelo.contacto.body")
      div
        label
        .boxSubmit
          input(type='submit', value='Enviar')
  .h2(ng-show="enviado") Muchas gracias. Hemos recibido su mensaje.
