#contacto
  .principal
    position relative
    border-bottom 10px solid #D56070
    .boxImg
      width 100%
      img
        width 100%
        height auto
    .ajuste
      position absolute
      bottom 0
      z-index 10
      width 100%
  .boxForm
    width 95%
    margin auto
    form
      .datosOblig
        font-family 'HelveticaNeueLt', Arial, sans-serif
        font-size 16px
        line-height 22px
        color #747474
        font-style italic
        padding 10px 0
      div
        padding-bottom 22px
      label
        font-family 'HelveticaNeueLt', Arial, sans-serif
        font-size 14px
        line-height 18px
        color #0a95d6
        width 33%
        display inline-block
        vertical-align top
        span
          font-size 10px
          line-height 10px
      input
        width 65%
        border 1px solid #1b9bd8
        height 31px
      input[type="text"], input[type="email"], select
        height 31px
        font-family 'HelveticaNeueLt', Arial, sans-serif
        line-height 31px
        color #747474
        width 65%
        border 1px solid #1B9BD8
        display inline-block
        vertical-align top
        padding-left 1%
      textarea
        font-family 'HelveticaNeueLt', Arial, sans-serif
        font-size 22px
        line-height 26px
        color #747474
        width 65%
        height 210px
        border 1px solid #1B9BD8
        display inline-block
        vertical-align top
        padding-left 1%
      .boxSubmit
        display inline-block
        width 65%
        text-align center
      input[type="submit"]
        height initial
        font-family 'HelveticaNeueBd', Arial, sans-serif
        font-size 22px
        line-height 33px
        color #fff
        background-color #0A95D6
        border-radius 5px
        -moz-border-radius 5px
        -webkit-border-radius 5px
        padding 11px 36px
        margin-top 10px
        border none

.h2
  margin-left 15px
