.busquedaNotas
  padding-top: 20px
  margin: 0 3%
  label
    display: inline-block

    input
      margin-top: 10px;
      border: 1px solid #27a1db;
      color: #666666;
      font-family: Helvetica,Arial,sans-serif;
      font-size: 18px;
      line-height: 22px;
      padding: 5px 0 5px 10px;
      width: 95%;
      box-sizing: content-box

  .checkboxStack
    padding-top 15px
    .checkboxStackLabel
      width: 29%;
      vertical-align: top
      display: inline-block

    .checkboxStackCheckboxes
      width: 60%;
      vertical-align: top
      display: inline-block
      label
        margin: 0
      input[type="checkbox"]
        height: 20px;
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin 4px

