form.busquedaNotas(ng-submit="buscarPosts()" name="formBusqueda")
  label
    |BÚSQUEDA AVANZADA - NOTAS
    input(type="text" ng-model="filtroBusqueda.texto" name="texto" required)
  .checkboxStack
    label.checkboxStackLabel
      |EN ÁREAS
    .checkboxStackCheckboxes
      div
        input(type="checkbox" checklist-model="filtroBusqueda.tipos" checklist-value="'Interes'")
        label
          |DE INTERÉS
      div
        input(type="checkbox" checklist-model="filtroBusqueda.tipos" checklist-value="'Tecnologia'")
        label
          |TECNOLOGÍA
      div
        input(type="checkbox" checklist-model="filtroBusqueda.tipos" checklist-value="'Opinion'")
        label
          |OPINIÓN

  input.botonBusqueda(type="submit" value="Buscar")



