.empresasContainer
  .btn-empresas-menu
    a.col-xs-6.empresas-section(ui-sref='establecimientos' ui-sref-active="btn-empresas-menu-selected")
      | Establecimientos Gráficos
    a.col-xs-6.proveedores(ui-sref='proveedores' ui-sref-active="btn-empresas-menu-selected")
      | Proveedores

  div(ui-view='')

  ul
    li(ng-repeat="empresa in listado.empresas")
      .boxEmpresas
        h2.titulo {{empresa.Empresa}}
        p
          | Domicilio: {{empresa.Domicilio}}
          br
          | Teléfono: {{empresa.Telefono}}
          br
          | Fax: {{empresa.Fax}}
          br
          | Email: {{empresa.Email}}
          br
          | Web: {{empresa.Web}}
          br
          | Rubro: {{empresa.Detalle_Rubro}}
