.btn-empresas-menu
  margin: 0
  height: 60px
  a
    font-family: 'HelveticaNeueBd', Arial, sans-serif
    color: #A7A8AA
    background-color: #F1F2F4
    font-size: 16px
    height 100%
    display: flex
    justify-content: center
    align-content: center
    flex-direction: column
    text-align center

  .btn-empresas-menu-selected
    background-color: #895EB0
    color: #FFFFFF

.filtro-letra-container
  padding-left 0
  padding-right 0

  .filtro-letra
    margin-top 20px
    white-space: nowrap
    overflow-x: auto
    height: 55px
    a
      font-family: 'HelveticaNeueLt', Arial, sans-serif
      font-size: 35px
      padding-top: 7px
      line-height: 35px
      color: #0a95d6
      text-decoration: none
      display: inline-block
      vertical-align: middle
      float:none
      width: 10%
      text-align: center
    .active
      color: #FFFFFF
      background-color: #0a95d6

.boxEmpresas
  padding-left 0
  padding-right 0
  .titulo
    font-family: Helvetica, Arial, sans-serif
    font-size: 16px
    line-height: 22px
    color: #0a95d6
    font-weight: 700
  p
    font-family: Helvetica, Arial, sans-serif
    font-size: 12px
    line-height: 16px
    color: #666666

.alphabetCombo
  margin-top 20px
  margin-bottom 20px
  text-align right
  padding-right 30px

  label, .dropdown-toggle, .dropdown
    display inline-block

  label
    margin-right 5px
    width 30%
    color #BBBBBB

  .dropdown
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px
    border: 6px solid #0a95d6;
    vertical-align top
    background-color #0a95d6
    width: 93px
    text-align left
    .dropdown-toggle
      display block
    .letter
      display inline-block
      text-align center
      width: 50px
      height: 30px
      -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
      background-color white
      font-size 1.4em
      padding 0 10px
      color #A7A8AA
      vertical-align: middle
    i
      vertical-align: middle
      color white
      height 100%
      margin-left 5px
      font-size 1.8em

  .dropdown-menu
    height 300px
    overflow-y scroll
    width auto
    min-width 0
    li
      font-size 1.4em
      border-bottom 1px solid lightgray
      a
        color #A7A8AA
